# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# Logs
*.log

# IDE Specific
.idea/
.vscode/
.DS_Store

# Environmental Variables
.env*

# OS specific
Thumbs.db
